.section {
  padding-top: 84px;
  padding-bottom: 104px;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 72px;
}

.left {
  width: 640px;
  flex-shrink: 0;
}

.image {
  width: 640px;
  height: 512px;
  object-fit: cover;
  border-radius: 19px;
  margin-bottom: 40px;
}

.right {
  width: 488px;
  padding-top: 20px;
}

.title {
  margin-bottom: 8px;
  color: var(--main);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.id {
  margin-left: 16px;
  color: var(--gray);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.meta {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
  color: var(--main);
  font-size: 16px;
  line-height: 1.25;
}

.metaItem {
  display: flex;
  align-items: center;
  gap: 4px;
}

.price {
  margin-bottom: 32px;
  color: var(--button);
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.description {
  margin-bottom: 110px;
  color: var(--main);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.25;
}

.block {
  margin-bottom: 110px;
}

.block:last-child {
  margin-bottom: 0;
}

.subtitle {
  margin-bottom: 20px;
  color: var(--main);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  color: var(--main);
  font-size: 16px;
  line-height: 1.25;
}

.listItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon {
  flex-shrink: 0;
  fill: currentColor;
}
