.hero {
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 4px;

  padding-top: 436px;
  padding-bottom: 60px;
  padding-left: 20px;
  padding-right: 20px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url('/images/hero-desk-min.jpg');

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-resolution: 2dppx) {
  .hero {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('/images/hero-desk@2x-min.jpg');
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;

  text-align: center;
}

.title {
  max-width: 783px;
  margin-bottom: 16px;

  color: var(--white);

  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

.text {
  margin-bottom: 40px;

  color: var(--white);

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 276px;
  height: 44px;

  border-radius: 12px;

  background-color: var(--button);
  color: var(--white);

  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;

  transition: background-color 250ms ease;
}

.link:hover,
.link:focus {
  background-color: var(--button-hover);
}
