.hero {
  min-height: calc(100vh - 68px);
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 60px;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    image-set(
      url('/images/hero-desk-min.jpg') 1x,
      url('/images/hero-desk@2x-min.jpg') 2x
    );

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.content {
  width: 100%;
  text-align: center;
}

.title {
  max-width: 783px;
  margin: 0 auto 16px;

  color: var(--white);

  font-size: 60px;
  font-weight: 700;
  line-height: 1.2;
}

.text {
  margin-bottom: 40px;

  color: var(--white);

  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
}

.link {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 276px;
  height: 44px;

  border-radius: 12px;

  background-color: var(--button);

  color: var(--white);

  font-size: 16px;
  font-weight: 600;

  transition: background-color 250ms ease;
}

.link:hover,
.link:focus {
  background-color: var(--button-hover);
}
